<div class="row">
    {{msg}}
</div>
<h2>CPU Usage</h2>
<div class="row">
    <canvas id="line" class="chart chart-line" data="data" options="options"
      labels="labels" legend="true" series="series">
    </canvas>
</div>

<h2>RAM Usage</h2>
<div class="row">
    <canvas id="mline" class="chart chart-line" data="mdata" options="options"
      labels="labels" legend="true" series="mseries">
    </canvas>
</div>

<h2>Network Usage</h2>
<div class="row">
    <canvas id="nline" class="chart chart-line" data="ndata" options="options"
      labels="labels" legend="true" series="nseries">
    </canvas>
</div>
