<div class="row">
    <a ng-if="! maintenance" href="#/job"><button class="btn btn-large btn-primary">New job</button></a><button ng-click="change_autorefresh()" class="btn btn-large btn-primary pull-right">Auto-refresh: {{autorefresh}}</button>
</div>

<h1>Running jobs  <span ng-click="refresh()" class="glyphicon glyphicon-refresh pointer_refresh"> </span></h1>
<div class="row" ng-if="user.admin">
<form class="form-horizontal">
<div class="form-group form-checkbox">
   <div class="col-sm-4">
         <div class="checkbox">
           <label>
             <input ng-model="$parent.get_all_tasks" type="checkbox" ng-change="refresh()"> View all users
           </label>
          </div>
   </div>
</div>
</form>
</div>
<div class="row">
    <table id="running_job_list" datatable="ng" dt-instance="dtInstanceRunning" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">
        <thead>
            <tr>
                <th>ID <span class="glyphicon glyphicon-eye-open"> </span></th>
                <th>Name</th>
                <th>Status</th>
                <th>Container</th>
                <th>Interactive</th>
                <th>Tags</th>
                <th>User id</th>
                <th>Project</th>
                <th>Usage/Statistics</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in activetasks track by task.id">
                <td class="job_details pointer" ng-click="show_task(task)">{{ ::task.id }} <span ng-if="task.parent_task_id">({{ ::task.parent_task_id}})</span></td>
                <td>{{::task.meta.name}}</td>
                <td><span class="label label-success" >{{ ::task.status.primary }}</span> <span ng-if="task.requirements.array.tasks.length>0"> {{::task.requirements.array.nb_tasks_over}}/ {{::task.requirements.array.nb_tasks}}</span>
                    <span ng-if="features['pause']==true && task.status.primary == 'running' && task.status.secondary != 'suspended'" ng-click="suspend(task.id)" class="glyphicon glyphicon-pause pull-right pointer"> </span>
                    <span ng-if="task.status.primary == 'running'" ng-click="reschedule(task.id)" class="glyphicon glyphicon-hourglass pull-right pointer"> </span>
                    <span ng-if="features['pause']==true && task.status.secondary == 'suspended'" ng-click="resume(task.id)" class="glyphicon glyphicon-play pull-right pointer"> </span>
                    <span nf-if="features['kill']==true" ng-click="kill_task(task)" class="glyphicon glyphicon-trash pull-right pointer"> </span>
                <span class="label label-warning" >{{ ::task.status.secondary }}</span>
                <td>{{ ::task.container.image }}</td>
                <td>{{ ::task.command.interactive }} {{::task['container']['ports']}}</td>
                <td><span ng-repeat="tag in ::task['meta']['tags']" class="label label-info">{{tag}}</span></td>
                <td>{{ ::task.user.id }}</td>
                <td>{{ ::task.user.project }}</td>
                <td ng-click="monitor(task.id)"><span class="glyphicon glyphicon-signal"></span> </a></td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Search job</h1>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="task" class="col-sm-2 control-label">Search</label>
            <div class="col-sm-10">
                <input class="form-control" id="task" ng-model="searchedTask" placeholder="Task id"/>
                <button type="button" ng-click="searchTask()" class="btn btn-primary btn-large">Search</button>
            </div>
        </div>
    </form>
</div>

<h1>Finished jobs (<100)</h1>
<div class="row">
    <table id="over_job_list" datatable="ng" dt-instance="dtInstanceOver" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">
        <thead>
        <tr>
            <th>ID <span class="glyphicon glyphicon-eye-open"> </span></th>
            <th>Name</th>
            <th>Status</th>
            <th>Container</th>
            <th>Interactive</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in overtasks track by task.id">
            <td class="job_details pointer" ng-click="show_task(task)">{{ ::task.id }}</td>
            <td>{{::task.meta.name}}</td>
            <td>
              <span class="{{get_exitcode_class(task.container.meta.State.ExitCode)}}">{{ ::task.status.primary }}</span>
              <span class="{{get_exitcode_class(task.container.meta.State.ExitCode)}}">{{ ::task.status.secondary }}</span>
              <span ng-click="replay(task.id)" class="glyphicon glyphicon-play-circle pull-right pointer"> </span>
             </td>
            <td>{{ ::task.container.image }}</td>
            <td>{{ ::task.command.interactive }}</td>
            <td>
                <span ng-repeat="tag in ::task['meta']['tags']" class="label label-info">{{tag}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="myTaskModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Task info [{{selectedtask['user']['id']}}] - {{selectedtask['status']['primary']}}</h3>
    </div>


    <div class="modal-body">
    <div class="row">
        <div class="godaction col-sm-2" ng-if="selectedtask['status']['primary'] == 'over'">
            <a ng-click="cancel()" ng-href="#/job/{{selectedtask['id']}}/files"><button class="btn btn-primary task-info-button">Files <span class="glyphicon glyphicon-folder-open"></span></button></a>
        </div>
        <div class="godaction col-sm-2" ng-if="selectedtask['status']['primary'] == 'running'">
          <a ng-click="cancel()" ng-href="#/job/{{selectedtask['id']}}/live"><button class="btn btn-primary task-info-button">Live log <span class="glyphicon glyphicon-eye-open"></span></button></a>
        </div>
        <div class="pull-right"><a ng-click="cancel()" ng-href="#/marketplace/task/{{selectedtask['id']}}/link"><button class="btn btn-primary">Link to a recipe</button></a></div>
    </div>
        <ul>
            <li><strong>Id:</strong> {{selectedtask['id']}}</li>
            <li><strong>Description:</strong> {{selectedtask['meta']['description']}}</li>
            <li><strong>Parent task id:</strong> {{selectedtask.parent_task_id}}</li>
            <li><strong>Sub tasks:</strong> {{selectedtask.requirements.array.tasks}}</li>
            <li><strong>Tags:</strong><ul>
                    <li ng-repeat="tag in selectedtask['meta']['tags']">
                        <span class="label label-info">{{tag}}</span>
                    </li>
                </ul>
            </li>
            <li><strong>Exit code:</strong> {{selectedtask.container.meta.State.ExitCode}}</li>
            <li><strong>Command:</strong>
                <div class="godcode" ui-codemirror="{
                        lineNumbers: true,
                        theme:'twilight',
                        readOnly: true,
                        lineWrapping : true,
                        mode: 'text/plain'
                    }" ng-model="selectedtask['command']['cmd']">
                </div>
            </li>
            <li><strong>run as root:</strong> {{selectedtask['container']['root']}}</li>
            <li><strong>Interactive:</strong> {{selectedtask['command']['interactive']}}
                <ul ng-if="selectedtask['command']['interactive']">
                    <li>{{selectedtask['container']['ports']}}</li>
                    <li ng-if="!selectedtask['container']['root'] && ssh_port"><small><code>ssh {{selectedtask.user.id}}@{{selectedtask.container.meta.Node.Name}} -p {{ssh_port}}</code></small></li>
                    <li ng-if="selectedtask['container']['root'] && ssh_port"><small><code>ssh root@{{selectedtask.container.meta.Node.Name}} -p {{ssh_port}}</code></small></li>
                </ul>
            </li>
            <li><strong>Container:</strong>{{selectedtask.container.id}}</li>
            <li>Requirements
                <ul>
                    <li><strong>CPU:</strong> {{selectedtask['requirements']['cpu']}}</li>
                    <li><strong>RAM (Gb):</strong> {{selectedtask['requirements']['ram']}}</li>
                    <li><strong>Tasks:</strong> {{selectedtask['requirements']['tasks']}}</li>
                    <li ng-if="selectedtask['container']['port_mapping']"><strong>Ports:</strong>
                        <ul>
                            <li ng-repeat="port in selectedtask['container']['port_mapping']">
                                Host: {{port.host}} => Container: {{port.container}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Execution
                <ul>
                    <li><strong>Submitted:</strong> {{convert_timestamp_to_date(selectedtask['date'])}}</li>
                    <li><strong>Running:</strong> {{convert_timestamp_to_date(selectedtask['status']['date_running'])}}</li>
                    <li><strong>Over:</strong> {{convert_timestamp_to_date(selectedtask['status']['date_over'])}}</li>
                    <li><strong>Reason:</strong>{{selectedtask['status']['reason']}}</li>
                </ul>
            </li>
            <li>Volumes
                <ul>
                    <li ng-repeat="v in selectedtask['container']['volumes']">{{v.path}}: {{v.mount}}</li>
                    <li ng-if="selectedtask['requirements']['tmpstorage']['size']">/tmp-data: {{selectedtask['requirements']['tmpstorage']['size']}}</li>
                </ul>
            </li>
            <li>Constraints
                <ul>
                    <li ng-repeat="c in selectedtask['requirements']['label'] track by $index">{{c}}</li>
                </ul>
            </li>
        </ul>
    </div>
</script>
