<div class="row">
    <table id="recipe_list" datatable="ng" dt-instance="dtRecipe" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="recipe in recipes track by recipe.id">
                <td>{{ ::recipe.id }}</td>
                <td>{{::recipe.description}}</td>
                <td><button class="btn btn-primary" ng-click="link_recipe(recipe)">Link</button></td>
            </tr>
        </tbody>
    </table>
</div>
